<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
  <head>
    {{ partial "meta.html" . }}
    {{ partial "assets.html" . }}
  </head>

  <body>
    <div class="grid-container">
      {{ partial "header.html" . }}

      <div class="grid-100">
        <h1>{{ .Title }}</h1>
      </div>
      <article class="grid-55">
        {{ .Content }}
      </article>

      {{ partial "footer.html" . }}
    </div>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        [].slice.call(document.querySelectorAll( 'article a' )).forEach(function(anc) {
          if (anc.hostname !== window.location.hostname)
            anc.target = '_blank';
        });
      }, false);
    </script>
  </body>
</html>