<div class="grid-100">
  <label class="locale-select">
   <select>
    <option value="en" {{ if eq .Site.Params.locale "en" }}selected{{ end }}>Global + English</option>
    <option value="sr" {{ if eq .Site.Params.locale "sr" }}selected{{ end }}>Србија</option>
  </select>
  </label>
</div>

<header class="grid-100">
  <p class="logo">
    <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).header.logo_text }}</strong>
    <br/>
    <span>{{ ( index $.Site.Data.translations $.Site.Params.locale ).header.logo_slogan }}</span>
  </p>
  <nav>
    <a href="{{ if eq .Site.Params.environment "live" }}/{{ .Site.Params.locale }}{{end}}/index.html">{{ ( index $.Site.Data.translations $.Site.Params.locale ).header.home_link }}</a>
    &nbsp;&middot;&nbsp;
    <a href="{{ if eq .Site.Params.environment "live" }}/{{ .Site.Params.locale }}{{end}}/our_mission.html">{{ ( index $.Site.Data.translations $.Site.Params.locale ).header.mission_link }}</a>
    &nbsp;&middot;&nbsp;
    <a href="#">{{ ( index $.Site.Data.translations $.Site.Params.locale ).header.subscribe_link }}</a>
  </nav>
</header>