<title>David Thinks...{{ .Title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="DavidThinks.com" />
{{ if isset .Params "sr_alternate" }}{{ if ne .Site.Params.locale "sr" }}<link rel="alternate" hreflang="sr" href="https://davidthinks.com/sr/article/{{ .Params.sr_alternate }}" />{{ end }}{{ end }}
{{ if isset .Params "en_alternate" }}{{ if ne .Site.Params.locale "en" }}<link rel="alternate" hreflang="en" href="https://davidthinks.com/en/article/{{ .Params.en_alternate }}" />{{ end }}{{ end }}


<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16" />
