<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
  <head>
    {{ partial "meta.html" . }}
    {{ if ne .Site.Params.locale "sr" }}<link rel="alternate" hreflang="sr" href="https://davidthinks.com/sr/index.html" />{{ end }}
    {{ if ne .Site.Params.locale "en" }}<link rel="alternate" hreflang="en" href="https://davidthinks.com/en/index.html" />{{ end }}
    {{ partial "styles.css.html" . }}
  </head>
  <body>
    <div class="grid-container">
      {{ partial "header.html" . }}
      <article>
        {{ range first 10 (where .Data.Pages "Section" "article") }}
          <section class="grid-45 suffix-5">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <p>{{ .Summary }}...</p>
          </section>
        {{ end }}
      </article>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.js.html" . }}
  </body>
</html>